@{
    ViewBag.Title = "Not Authorized";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}


<h1>Not Authorized</h1>
<p>Attenzione si sta tentando di accedere ad una pagina il cui contenuto necessita 
	di un'autorizzazione particolare.</p>
	
<p>Se non ti sei ancora autenticato clicca <a href ="notAuthenticated.aspx">qui</a> per accedere alla maschera di login.</p>