@model MyWebApplication.Models.ModelImmobiliareSearch

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Index</h2>



<ul data-role="listview" data-ajax="false" data-inset="true" data-theme="d">
    <li data-role="list-divider">Test page</li>
    <li><a href="@Url.Action("Table", "Test")">Table</a></li>
    <li><a href="@Url.Action("Panel01", "Test")">Panel</a></li>

</ul>







@Html.DropDownList("regione", new SelectList(new[] {
                new KeyValuePair<string, int>("---", -1)  
                ,new KeyValuePair<string, int>("Abruzzo", 13)
                ,new KeyValuePair<string, int>("Basilicata", 17)
                ,new KeyValuePair<string, int>("Calabria", 18)
                ,new KeyValuePair<string, int>("Campania", 15)
                ,new KeyValuePair<string, int>("Emilia-Romagna", 8)
                ,new KeyValuePair<string, int>("Friuli-Venezia Giulia", 6)
                ,new KeyValuePair<string, int>("Lazio", 12)
                ,new KeyValuePair<string, int>("Liguria", 7)
                ,new KeyValuePair<string, int>("Lombardia", 3)
                ,new KeyValuePair<string, int>("Marche", 11)
                ,new KeyValuePair<string, int>("Molise", 14)
                ,new KeyValuePair<string, int>("Piemonte", 1)
                ,new KeyValuePair<string, int>("Puglia", 16)
                ,new KeyValuePair<string, int>("Sardegna", 20)
                ,new KeyValuePair<string, int>("Sicilia", 19)
                ,new KeyValuePair<string, int>("Toscana", 9)
                ,new KeyValuePair<string, int>("Trentino-Alto Adige", 4)
                ,new KeyValuePair<string, int>("Umbria", 10)
                ,new KeyValuePair<string, int>("Valle d'Aosta", 2)
                ,new KeyValuePair<string, int>("Veneto", 5)
                
        }, "Value", "Key", "---"))