
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/MasterPageMaterialDesign.cshtml";
}

<h2>Button</h2>

<a class="mdc-button" href="">
    Button
</a>

<button class="foo-button mdc-button">
    Button con foo
</button>

<button class="mdc-button">
    Flat
</button>
<button class="mdc-button mdc-button--raised">
    Raised
</button>



@Html.Partial("_footer")