
@{
    ViewBag.Title = "TextInput";
    Layout = "~/Views/Shared/MasterPageMaterialDesign.cshtml";
}

<h2>TextInput</h2>

<div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
    <input class="mdc-text-field__input" type="text" id="input">
    <label for="input" class="mdc-floating-label">Input Label</label>
    <div class="mdc-line-ripple"></div>
</div>

@Html.Partial("_footer")


<script>
    mdc.autoInit();
   
</script>