@{
    ViewBag.Title = "Contatti";
    Layout = "~/Views/Shared/MasterPageMobile.cshtml";
}

<h2>Contatti</h2>
<div style="float:right"><img src="@Url.Content("~/Content/Images/contatti.gif")" height="180" /></div>
<p>Per informazioni e suggerimenti : <a href="mailto:info@cerco-vendo-casa.it">info@cerco-vendo-casa.it</a></p>
<p>Per richieste di nuove funzionalità o per segnalazioni di errori:
    
     <a href="mailto:webmaster@cerco-vendo-casa.it">webmaster@cerco-vendo-casa.it</a>



</p>
