
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPageMaterialDesign.cshtml";
}

<h1 class="mdc-typography--headline1">Index</h1>

<a href="http://material-components-web.appspot.com" target="_blank">http://material-components-web.appspot.com</a>

<br />


<ul class="mdc-list mdc-list--dense demo-list">
    <li class="mdc-list-item"><a href="@Url.Action("Button")">Button</a></li>
    <li class="mdc-list-item"><a href="@Url.Action("Tab")">Tab</a></li>
    <li class="mdc-list-item"><a href="@Url.Action("TextInput")">Text input</a></li>
</ul>











<script>
    mdc.autoInit();
    mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
    console.log("mdc.autoInit();");
</script>