<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="application.name" value="Cerco-Vendo-Casa" />
    <add key="application.url" value="http://www.cerco-vendo-casa.it/" />
    <!-- per abilitare o meno l'invio delle email -->
    <add key="mail.isEnabled" value="true" />
    <add key="mail.global.asa.exception.send.enabled" value="true" />
    <!--Configurazione dell'applicazione mail "mail.keycab.com" "mail.smartcare.it" "mail.trova-libro.it" "smtp.aruba.it" -->
    <!--<add key="mail.server" value="smtp.aruba.it"/>-->
    <add key="mail.server" value="smtp.cerco-vendo-casa.it" />
    <!-- autenticazione per invio email-->
    <add key="mail.credentials.encrypted" value="true" />
    <add key="mail.server.userName" value="OcrObzpJewuLudGeQl6mftf1xKYclmEUqY7VomRNMtk=" />
    <add key="mail.server.password" value="2gQWsJp3IJe+36n0Oyh1+A==" />   
    <add key="mail.To.Ccn" value="info@cerco-vendo-casa.it" />
    <add key="mail.From" value="info@cerco-vendo-casa.it" />
    <add key="mail.webmaster" value="webmaster@cerco-vendo-casa.it" />
    <!-- nel momento del cambio password obbliga l'utente ad inserire una STRONG Password-->
    <add key="utenti.password.isStrong" value="false" />
    <!-- l'utente può cambaire e impostare la password -->
    <add key="utenti.password.canSet" value="true" />
    <!-- la rgistrazione dell'utente deve essere confermata dall'amministratore-->
    <add key="utenti.confirm.registration" value="false" />
    <add key="forum.isEnabled" value="true" />
    <add key="newsletter.isEnabled" value="false" />
    <add key="rubrica.isEnabled" value="true" />
    <add key="mercatino.isEnabled" value="false" />
    <add key="mercatino.images.folder" value="~/public/mercatino/" />
    <add key="catalogo.isEnabled" value="false" />
    <add key="catalogo.images.folder" value="~/public/catalogo/" />
    <add key="Annunci.isEnabled" value="true" />
    <add key="Annunci.images.folder" value="~/public/immobiliare/" />
    <add key="maps.googleapis.key" value="6dJJKyN+b2gEwKCZxx7QQKajAJlPl4wO+9+5cfF2EW83tqoBkDRRNa7av1fuUD1x" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!-- <httpRuntime requestValidationMode="2.0" /> -->
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>

    <!-- imposto ad OFF per far vedere l'errore sui computer è meglio metterlo customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>  -->
    <customErrors mode="Off" />
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-sito3.0-20130422224826;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-sito3.0-20130422224826.mdf"/>
    <add name="forum" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|forum.mdb" providerName="System.Data.OleDb"/>
    <add name="immobiliare" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|immobiliare.mdb" providerName="System.Data.OleDb"/>
    <add name="rubrica" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|rubrica.mdb" providerName="System.Data.OleDb"/>
    <add name="utenti" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|utenti.mdb" providerName="System.Data.OleDb"/>
    <add name="log" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|log.mdb" providerName="System.Data.OleDb"/>
    <add name="RegioniProvinceComuni" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|RegioniProvinceComuni.mdb"
      providerName="System.Data.OleDb"/>
    <add name="SqlServerCe" connectionString="Data Source=|DataDirectory|RegioniProvinceComuni.sdf;" providerName="System.Data.SqlServerCe.3.5"/>
    <add name="SqlExpress"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|RegioniProvinceComuni.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient"/>
    <add name="Access2007"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|RegioniProvinceComuni.accdb;Persist Security Info=False;"
      providerName="System.Data.OleDb"/>
 </connectionStrings>
</configuration>
